*{
    background-color: #080808
}
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 250px;
    cursor: pointer;
}
h1{
    color: white;
    padding-top:10px;
    text-align: center;
    font-size: 60px;
    font-family: sans-serif
}
p{
    color: white;
    padding-top:20px;
    text-align: center;
    font-size: 30px;
    font-family: sans-serif
}

input{
    background-color: white;
    width: 70%;
    margin-left: 12%;
    font-size: 20px;
    padding: 16px 16px;
    border-radius: 10px;
    border-color: black;
    margin-bottom: 20px;
}

textarea{
    background-color: white;
    width: 70%;
    margin-left: 12%;
    font-size: 20px;
    padding: 16px 16px;
    border-radius: 10px;
    border-color: black;
    margin-bottom: 25px;
    font-family: sans-serif
}

input:focus-within{
    outline: none;
    border-color: #5bd183;
    border-width: 3px;
}

textarea:focus-within{
    outline: none;
    border-color: #5bd183;
    border-width: 3px;
}

button{
    background-color:#5bd183;
    border-radius: 20px;
    border-color: black;
    font-size: 22px;
    padding: 10px 18px;
    text-align: center;
    display: flex;
    margin: auto;
}
button:hover {
    opacity: 80%;
    cursor: pointer;
}
    

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

